# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

##### Objectives:

- Some of the popular languages that Data Scientists use are:
- Some of the commonly used libraries used by Data Scientists include:
- Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. ggplot

|Data Science Tools|
|------------------|
|   My SQL         |
|   Mango BD       |
|    Hadoop        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Leonid